#!/bin/bash -x

serial=$(date +%Y%m%d%H%M)

ipa-server-install -N -U -p {{ipa_default_password}} -a {{ipa_default_password}} \
    -n {{ipa_domain}} -r {{ipa_realm}} \
    --ca-subject="CN=Certificate Authority, O={{ipa_realm}} ${serial}" \
    --idstart={{ipa_idstart}}
#   --hostname=idmserver.core-mem.net

echo {{ipa_default_password}} | kinit admin

ipa config-mod --defaultshell=/bin/bash

{% for user in ipa_users %}
ipa user-add {{ user.username }} \
    --first="{{ user.firstname }}" \
    --last="{{ user.lastname }}" \
    --initials="" \
    --gecos="{{ user.gecos }}" \
    --displayname="{{ user.gecos }}" \
    --homedir="{{user.homedir}}" \
    --shell="{{user.shell}}" \
{% if 'uid' in user %}
    --uid={{user.uid}} \
{% endif %}
{% if 'gid' in user %}
    --gidnumber={{user.gid}} \
{% endif %}
{% if 'sshpubkey' in user %}
    --sshpubkey='{{ user.sshpubkey }}' \
{% endif %}
{% if 'randompw' in user and user.randompw %}
    --random
{% endif %}

{% endfor %}

ipa automountlocation-add cluster
ipa automountmap-add cluster auto.home
ipa automountkey-add cluster auto.home --key="*" --info="-fstype=nfs4 10.80.0.232:/srv/exports/home/&"
ipa automountkey-add cluster auto.master --key="/home" --info="auto.home"
ipa automountkey-add cluster auto.direct --key="/site" --info="-fstype=nfs4 10.80.0.232:/srv/exports/site"

ipa sudorule-add rootme --hostcat=all --cmdcat=all --runasusercat=all
ipa sudorule-add-user rootme --users=steffenr
ipa sudorule-add-option rootme --sudooption='!authenticate'
