{% for host in groups['kafka']|sort  %}
host-record = {{ hostvars[host].private_dns_name }},kafka{{ loop.index }}.core-mem.net,{{ hostvars[host].private_ip_address }}
{% endfor %}
{% for host in groups['zookeeper']|sort %}
host-record = {{ hostvars[host].private_dns_name }},zk{{ loop.index }}.core-mem.net,{{ hostvars[host].private_ip_address }}
{% endfor %}
