#!/bin/bash -x

GPFS_PATH=/usr/lpp/mmfs/bin

${GPFS_PATH}/mmcrcluster -N node_file --use-sudo-wrapper --sudo-user gpfs -C awstest.fnmoc.navy.mil -U fnmoc.navy.mil -A

${GPFS_PATH}/mmchlicense server --accept -N node_license.server
${GPFS_PATH}/mmchlicense client --accept -N node_license.client

${GPFS_PATH}/mmstartup -a

echo "Pausing for cluster init..."
sleep 120

${GPFS_PATH}/mmperfmon config generate --collectors {{ groups["frontend"]|join(',') }}
${GPFS_PATH}/mmchnode --perfmon -N all
${GPFS_PATH}/mmperfmon config update GPFSDiskCap.restrict=gui_node GPFSDiskCap.period=86400

systemctl start pmcollector

cd /usr/lpp/mmfs/gui/cli
./initgui
