{% for idm in groups["idmserver"] %}
srv-host = _kerberos._udp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _kerberos._tcp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _kerberos-master._tcp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _kerberos-master._udp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _kpasswd._tcp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _kpasswd._udp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},88
srv-host = _ldap._tcp.{{ipa_domain}},{{ hostvars[idm].ansible_fqdn }},389
txt-record = _kerberos.{{ipa_domain}},"{{ipa_realm}}"
{% endfor %}
