{% for host in groups['nifi']|sort  %}
<Location /nifi{{ loop.index }}>
	RequestHeader add X-ProxyScheme "http"
        RequestHeader add X-ProxyHost "sysmon.core-mem.net"
        RequestHeader add X-ProxyPort "80"
        RequestHeader add X-ProxyContextPath "/nifi1"
        ProxyPass http://{{host}}:8080
        ProxyPassReverse http://{{host}}:8080
</Location>

{% endfor %}
