127.0.0.1       localhost.localdomain localhost localhost4 localhost4.localdomain4
::1             localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['all'] -%}
{% for ip in hostvars[host].ansible_all_ipv4_addresses %}
{% if ansible_facts.virtualization_type == 'virtualbox' and ip == "10.0.2.15" %}
{% elif ansible_facts.virtualization_type == 'parallels' and ip.startswith("10.211.55") %}
{% else %}
{{ ip }}  {{ hostvars[host].ansible_fqdn }} {{ hostvars[host].ansible_hostname }}
{% endif %}
{% endfor %}
{%- endfor %}

{% for host in host_list %}
{{ host.ip_addr }}   {{ host.name }}{% if host.alias_list is defined %}{% for alias in host.alias_list %} {{ alias }}{% endfor %}{% endif %}

{% endfor %}

{% for host in additional_hosts %}
{{ host.ip_addr }}   {{ host.name }}{% if host.alias_list is defined %}{% for alias in host.alias_list %} {{ alias }}{% endfor %}{% endif %}

{% endfor %}
