{% set idmserver = groups["idmserver"]|sort|first %}
host-record = idmserver.core-mem.net,{{ hostvars[idmserver]["ansible_eth0"]["ipv4"]["address"]  }}
{% set idmserver = hostvars[idmserver]["ansible_hostname"] + ".core-mem.net" %}
srv-host = _kerberos._udp.core-mem.net,{{ idmserver }},88
srv-host = _kerberos._tcp.core-mem.net,{{ idmserver }},88
srv-host = _kerberos-master._tcp.core-mem.net,{{ idmserver }},88
srv-host = _kerberos-master._udp.core-mem.net,{{ idmserver }},88
srv-host = _kpasswd._tcp.core-mem.net,{{ idmserver }},88
srv-host = _kpasswd._udp.core-mem.net,{{ idmserver }},88
srv-host = _ldap._tcp.core-mem.net,{{ idmserver }},389
txt-record = _kerberos.core-mem.net,"CORE-MEM.NET"
server = {{ dnsserver }}